<div class="wrap wrap-mountain mt-6 hidden-xs">
  <div class="container">
    <div id="myCarousel" class="carousel slide mb-4" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../../assets/img/wealthstation-planadvisor.png" alt="WeathStation PlanAdvisor"/>
          <div class="carousel-caption">
            <h2>WeathStation PlanAdvisor (https://www.wsplanadvisor.com)</h2>
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/WealthStationPlanAdvisorRewrite1.png" alt="WeathStation PlanAdvisor Rewrite"/>
          <div class="carousel-caption">
            <h2>WeathStation PlanAdvisor Rewrite</h2>
            Customize colors and see a preview of an HTML version of system Crystal Report output.
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/WealthStationPlanAdvisorRewrite3.png" alt="WeathStation PlanAdvisor Rewrite"/>
          <div class="carousel-caption">
            <h2>WeathStation PlanAdvisor Rewrite</h2>
            Customize colors and see a preview of an HTML version of system Crystal Report output.
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/WealthStationPlanAdvisorRewrite2.png" alt="WeathStation PlanAdvisor Rewrite"/>
          <div class="carousel-caption">
            <h2>WeathStation PlanAdvisor Rewrite</h2>
            Smart easy to use dialogs that are reusable.
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/WealthStationPlanAdvisorRewrite4.png" alt="WeathStation PlanAdvisor Rewrite"/>
          <div class="carousel-caption">
            <h2>WeathStation PlanAdvisor Rewrite</h2>
            Attractive and consistent forms that load quickly.
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/WealthStationPlanAdvisorRewrite5.png" alt="WeathStation PlanAdvisor Rewrite"/>
          <div class="carousel-caption">
            <h2>WeathStation PlanAdvisor Rewrite</h2>
            Reusable Aurelia custom elements create controls that are used throughout the site for a consistent user experience.
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/ManageITDashboard.png" alt="ManageIT Dashboard"/>
          <div class="carousel-caption">
            <h2>ManageIT - Database Backup/Archiving</h2>
            Oracle database backup software manages backups and restores in the event of a failure.
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/ManageITAddJob.png" alt="ManageIT Add Job"/>
          <div class="carousel-caption">
            <h2>ManageIT - Database Backup/Archiving</h2>
            Create jobs to run against multiple systems. Keep your database backed up in case of emergency.
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/BugTracker.png" alt="BugTracker"/>
          <div class="carousel-caption">
            <h2>BugTracker - Software Life Cycle Management</h2>
            Track software requirements and deficiencies from design through deployment.
          </div>
        </div>
        <div class="item">
          <img src="../../assets/img/BugTracker3D.png" alt="BugTracker Responsive"/>
          <div class="carousel-caption">
            <h2>BugTracker - Software Life Cycle Management</h2>
            Angular front end with node backend built to be responsive to mobile devices.
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev" title="Previous">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next" title="Next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
