<title>TCR Development - Windows & Web Software Developers - [Technology]</title>
<app-hero></app-hero>
<div class="container mt-4">
  <p [ngClass]="(service.wow)?'lead color-primary mb-2 aca wow fadeInDown animation-delay-2':'lead color-primary mb-2'">
    Our developers are experienced in a number of software technologies. We are also able to pick up and learn new technologies
    that our clients may have a need for due to legacy requirements.
    We can create, convert or maintain client code.
  </p>
  <p [ngClass]="(service.wow)?'mb-2 aca wow fadeInDown animation-delay-2':'mb-2'">
    c#, vb.net, Java, Silverlight, Typescript/Javascript, MVC 5, .Net Core, node.js, gulp, Entity Framework (reverse engineering and code first),
    SQL Server management, SQL Server schema generation, SQL statements and stored procedures, Oracle management and PL/SQL, Kockout.js, Aurelia.io,
    Angular 1, XML, Crystal Reports development.
  </p>
  <div [ngClass]="(service.wow)?'aca wow fadeInDown animation-delay-2 mb-4':'mb-4'">
    <h3>Front end development</h3>
    <p>
      Typescript/Javascript, Angular, Knockout, Aurelia.io
    </p>
    <ul>
      <li>
        We developed <a href="https://www.wsplanadvisor.com/" target="_blank" title="View Wealthstation PlanAdvisor">WealthStation PlanAdvisor</a> originally using a Silverlight front end with a c#.net WebAPI
        back end and SQL Server database. We are converting it to c# .NET Core and <a href="http://aurelia.io" target="_blank" title="View Aurelia.io" rel="nofollow">Aurelia.io</a> front
        end single page applications, SPAs. We also have a Windows service that polls SQL Server and runs Crystal Reports to generate and distribute
        PDF files via e-mail and Windows Azure storage. We have monthly import programs that transform large XML and CSV data files to insert data into the database.
      </li>
      <li>We originally developed <a href="https://www.SoleHub.com/" target="_blank" title="View SoleHub">SoleHub.com</a> using Knockout.js on the front end and c# .NET WebAPI back end with SQL Server.</li>
      <li>
        We originally developed <a href="https://www.loaneraser.com/" target="_blank" title="View Retirement Loan Eraser">Retirement Loan Eraser</a> using Knockout.js on the front end with MVC
        serverside views and c# WebAPI back end with Entity Framework and SQL Server. Additional technology was used in allowing the client to create dynamically applied classes to process CSV files.
      </li>
    </ul>
  </div>
  <div [ngClass]="(service.wow)?'aca wow fadeInDown animation-delay-4 mb-4':'mb-4'">
    <h3>Back end development</h3>
    <p>
      c# WebAPI, node.js, SQL Server, Oracle, stored procedures, Entity Framework 6 and Entity Framework Core.
    </p>
    <ul>
      <li>
        We build RESTful apis using c# and .NET Core.
      </li>
      <li>We design and build databases and integrate directly with SQL queries or use Entity Framework (code first or reverse engineering).</li>
      <li>
        We leverage Microsoft Identity Framework for industry standard security.
      </li>
    </ul>
  </div>
    <div [ngClass]="(service.wow)?'aca wow fadeInDown animation-delay-4 mb-4':'mb-4'">
    <h3>Windows development</h3>
    <p>
      We develop Windows applications using c# and WPF, integrating either with Entity Framework or SQL directly.
    </p>
    <ul>
      <li>
        Test applications and scheduled tasks for monitoring FTP files.
      </li>
      <li>
        Windows services that monitor a queue to process automated jobs such as generating PDFs using Crystal Reports,
        zipping them and then sending them via e-mail or writing them to Microsoft Azure storage.
      </li>
      <li>
        Import processes using XML and CSV data files from major financial data feeds. We import large amounts of data,
        with performance and data integrity in mind, in to SQL Server and Oracle databases.
      </li>
    </ul>
  </div>
  <div [ngClass]="(service.wow)?'aca wow fadeInDown animation-delay-4 mb-4':'mb-4'">
    <h3>Crystal Reports development</h3>
    <p>
      We offer services to develop or maintain Crystal Reports and have experience creating automated tools to manage batch
      generation of PDF files as well as archiving, storage and distribution via email or Microsoft Azure storage.
    </p>
  </div>
  <div [ngClass]="(service.wow)?'aca wow fadeInDown animation-delay-6 mb-4':'mb-4'">
    <h3>Code review and training</h3>
    <p>
      We can make our code available during development for review and also offer training in the event you wish to pull the code in-house.
      We continue to maintain a relationship with our clients and offer support after a project is complete. As an example, we developed
      <a href="https://www.loaneraser.com/" title="View Retirement Loan Eraser">Retirement Loan Eraser</a> working closely with their CTO and in the
      end we trained developers hired near the end of development to take over the project going forward. When they need help, need to ask
      a technology question, we remain available to them for guidance.
    </p>
  </div>
</div>
<app-carousel></app-carousel>
