<title>TCR Development - Windows & Web Software Developers - [Home]</title>
<div class="ms-hero ms-hero-material">
  <span class="ms-hero-bg"></span>
  <div class="container">
    <div class="col-lg-6 col-md-7">
      <div id="carousel-hero" class="carousel slide carousel-fade" data-ride="carousel" data-interval="8000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="carousel-caption">
              <div class="ms-hero-material-text-container">
                <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                  <h1 class="animated fadeInLeft animation-delay-15 font-smoothing"><strong>Custom</strong> Software and Services</h1>
                  <h2 class="animated fadeInLeft animation-delay-18">
                    Leading edge solutions give our clients the <span class="color-warning edge">edge</span>.
                  </h2>
                </header>
                <ul class="ms-hero-material-list">
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-18">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp"><i class="zmdi zmdi-cloud-outline"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-19">Web application and services customized to your specifications.</div>
                  </li>
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-20">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-success shadow-3dp"><i class="fa fa-windows"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-21">Windows software development.</div>
                  </li>
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-22">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-danger shadow-3dp"><i class="fa fa-line-chart"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-23">Crystal report automation and customization.</div>
                  </li>
                </ul>
              </div> <!-- ms-hero-material-text-container -->
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <div class="ms-hero-material-text-container">
                <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                  <h1 class="animated fadeInLeft animation-delay-15">Software to meet <strong>your needs</strong></h1>
                  <h2 class="animated fadeInLeft animation-delay-18">
                    Built from scratch solutions to <span class="color-warning">build your future</span> .
                  </h2>
                </header>
                <ul class="ms-hero-material-list">
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-18">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-info shadow-3dp"><i class="fa fa-bullseye"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-19">Design your solutions from the ground up with our guidance.</div>
                  </li>
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-20">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-royal shadow-3dp"><i class="fa fa-database"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-21">Experienced in everything from database schema design to the end user experience.</div>
                  </li>
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-22">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp"><i class="fa fa-bug"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-23">Product testing and management.</div>
                  </li>
                </ul>
              </div> <!-- ms-hero-material-text-container -->
            </div>
          </div>
          <div class="item">
            <div class="carousel-caption">
              <div class="ms-hero-material-text-container">
                <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                  <h1 class="animated fadeInLeft animation-delay-15">
                    Commitment to <strong>quality</strong>.
                  </h1>
                  <h2 class="animated fadeInLeft animation-delay-18">
                    <span class="color-warning">Industry standard</span> design and development.
                  </h2>
                </header>
                <ul class="ms-hero-material-list">
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-18">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-danger shadow-3dp"><i class="fa fa-group"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-19">Decades of experience working on large financial Windows and web based products.</div>
                  </li>
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-20">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-info shadow-3dp"><i class="fa fa-cogs"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-21">Security, performance, usability and responsiveness are all integral to success.</div>
                  </li>
                  <li>
                    <div class="ms-list-icon animated zoomInUp animation-delay-22">
                      <span class="ms-icon ms-icon-circle ms-icon-xlg color-success shadow-3dp"><i class="fa fa-copyright"></i></span>
                    </div>
                    <div class="ms-list-text animated fadeInRight animation-delay-23">You imagine it, we create it, you own it.</div>
                  </li>
                </ul>
              </div> <!-- ms-hero-material-text-container -->
            </div>
          </div>
          <div class="carousel-controls">
            <!-- Controls -->
            <a class="left carousel-control animated zoomIn animation-delay-30" href="#carousel-hero" role="button" data-slide="prev" title="Previous">
              <i class="zmdi zmdi-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control animated zoomIn animation-delay-30" href="#carousel-hero" role="button" data-slide="next" title="Next">
              <i class="zmdi zmdi-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-hero" data-slide-to="0" class="animated fadeInUpBig animation-delay-27 active"></li>
              <li data-target="#carousel-hero" data-slide-to="1" class="animated fadeInUpBig animation-delay-28"></li>
              <li data-target="#carousel-hero" data-slide-to="2" class="animated fadeInUpBig animation-delay-29"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-5 hidden-xs">
      <div class="ms-hero-img animated zoomInUp animation-delay-30">
        <img src="../../assets/img/mockpc2.png" alt="PC" class="img-responsive"/>
        <div id="carousel-hero-img" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
          <!-- Indicators -->
          <ol class="carousel-indicators carousel-indicators-hero-img">
            <li data-target="#carousel-hero-img" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-hero-img" data-slide-to="1"></li>
            <li data-target="#carousel-hero-img" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="ms-hero-img-slider item active">
              <img src="../../assets/img/logohero.png" alt="WealthStation PlanAdvisor" class="img-responsive"/>
            </div>
            <div class="ms-hero-img-slider item">
              <img src="../../assets/img/infinityhero.png" alt="WealthStation PlanAdvisor" class="img-responsive"/>
            </div>
            <div class="ms-hero-img-slider item">
              <img src="../../assets/img/pchero1.png" alt="WealthStation PlanAdvisor" class="img-responsive"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- container -->
</div> <!-- ms-hero ms-hero-black -->

<div class="container mt-4">
  <p [ngClass]="(service.wow)?'lead text-justify aca wow fadeInDown animation-delay-5 center-block mb-4':'lead text-justify center-block mb-4'">
    TCR Development creates custom web and Windows applications using the latest technology and industry standards.
    We create applications that are accessible and responsive to different devices that perform the functionality
    the client requires in a way that is fast, secure, and reliable. You design the requirements, we fulfill those requirements
    with concern for the problems you might not consider, such as security and usability.
  </p>
  <div [ngClass]="(service.wow)?'ms-feature col-lg-3 col-md-6 col-sm-6 card aca wow flipInX animation-delay-4':'ms-feature col-lg-3 col-md-6 col-sm-6 card'">
    <div class="text-center card-block">
      <div class="highlight-box">
        <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info">
            <i class="fa fa-shield"></i>
        </span>
        <h3 class="color-info">Security</h3>
        <p>Security is paramount. An insecure application is not functional.</p>
      </div>
    </div>
  </div>
  <div [ngClass]="(service.wow)?'ms-feature col-lg-3 col-md-6 col-sm-6 card aca wow flipInX animation-delay-8':'ms-feature col-lg-3 col-md-6 col-sm-6 card'">
    <div class="text-center card-block">
      <div class="highlight-box">
        <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning">
            <i class="fa fa-desktop"></i>
        </span>
        <h3 class="color-warning">Functionality</h3>
        <p>
          Functionality requires responsiveness to modern mobile devices.
        </p>
      </div>
    </div>
  </div>
  <div [ngClass]="(service.wow)?'ms-feature col-lg-3 col-md-6 col-sm-6 card aca wow flipInX animation-delay-10':'ms-feature col-lg-3 col-md-6 col-sm-6 card'">
    <div class="text-center card-block">
      <div class="highlight-box">
        <span class="ms-icon ms-icon-circle ms-icon-xxlg color-success">
            <i class="fa fa-rocket"></i>
        </span>
        <h3 class="color-success">Performance</h3>
        <p>We create applications that are fast at processing large amounts of data with accuracy.</p>
      </div>
    </div>
  </div>
  <div [ngClass]="(service.wow)?'ms-feature col-lg-3 col-md-6 col-sm-6 card aca wow flipInX animation-delay-6':'ms-feature col-lg-3 col-md-6 col-sm-6 card'">
    <div class="text-center card-block">
      <div class="highlight-box">
        <span class="ms-icon ms-icon-circle ms-icon-xxlg  color-danger">
            <i class="fa fa-check"></i>
        </span>
        <h3 class="color-danger">Maintainability</h3>
        <p>
          Clean and concise code following the KISS principle that can be easily upgraded.
        </p>
      </div>
    </div>
  </div>
  <p [ngClass]="(service.wow)?'text-justify aca wow fadeInDown animation-delay-5 center-block mb-4':'text-justify center-block mb-4'">
    We manage the software development project from the design phase, through development and testing, both functional and penetration testing,
    and handle rollout to production and follow-on maintenance. We can guide you through the process of developing business
    requirements and SQL Server/Oracle database schema as well as choose database and hosting services.
  </p>
</div>
<app-carousel></app-carousel>
